@font-face {
  font-family: 'vt323';
  src: url('./VT323-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'vt323', monospace;
}

/*  Navbar starts */

.navbar {
  width: 100%;
  position: fixed;
  margin-top: 20px;
  background-color: transparent;
  height: 60px;
  z-index: 4;
}
.navbar .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: 0px;
}
.navbar .links i {
  display: none;
}
.navbar .links ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 60px;
}
.navbar .links ul li {
  margin-right: 150px;
  padding: 0 5px;
}
.navbar .links ul li a {
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 20px;
  letter-spacing: 3px;
  font-size: 20px;
  color: white;
  transition: ease-in-out 0.5s;
  border: 1px solid rgba(207, 207, 207, 0);
}
.navbar .links ul li a:hover {
  border: 1px solid rgb(207, 207, 207);
}
.navbar .links ul li a.active {
  border: 1px solid rgb(207, 207, 207);
}

/*  Navbar Ends */

/* Index starts */
.welcomer {
  height: 100vh;
  background-color: #191919;
  width: 100%;
}
.welcomer .welcomer-span {
  background: transparent;
  position: absolute;
  z-index: 1;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 74px;
  letter-spacing: 5px;
  font-family: 'VT323', monospace;
  border-bottom: 1px solid #03a062;
  padding-bottom: 5px;
  width: calc(100% - 600px);
  text-align: center;
}
.welcomer img {
  position: absolute;
  border-radius: 50%;
  width: 15%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcomer .welcomer-span2 {
  background: transparent;
  position: absolute;
  z-index: 1;
  color: #ffffff;
  font-size: 74px;
  letter-spacing: 5px;
  font-size: 84px;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.welcomer .welcomer-img {
  opacity: 1;
  width: 100%;
  height: 100vh;
}
.welcomer .mid {
  position: absolute;
  width: calc(100% - 700px);
  text-align: center;
  top: 60%;
  margin-top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 1px solid #03a062;
  padding-bottom: 5px;
}
.welcomer .mid span {
  color: #fff;
  font-size: 52px;
  position: relative;
  margin-bottom: 25px;
}

.welcomer .mid ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.welcomer .mid ul li {
  list-style: none;
  color: #fff;
  font-size: 34px;
  margin: 0 50px;
}

.welcomer .bottom {
  position: absolute;
  width: calc(100% - 800px);
  text-align: center;
  top: 70%;
  margin-top: 75px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 1px solid #03a062;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.welcomer .bottom ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.welcomer .bottom ul li {
  list-style: none;
  color: #fff;
  font-size: 34px;
  margin: 0 50px;
}
.welcomer .bottom ul li a {
  color: #fff;
  transition: 0.5s ease-in-out;
}
.welcomer .bottom ul li a:hover {
  color: #03a062;
}
.welcomer .bottom .welcomer video {
  width: 100%;
}
.welcomer .bottom #contact {
  margin-top: 40px;
  text-decoration: none;
  font-size: 48px;
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  color: #fff;
  transition: 0.5s ease-in-out;
}
.welcomer .bottom #contact:hover {
  background-color: #fff;
  color: #03a062;
  border: 1px solid #03a062;
  padding: 10px 35px;
}
/* Index ends */

/* Home starts */

/* Home ends */

/* About Starts */
.about {
  background-color: #191919;
  background-image: url('./components/layout/8bitcity.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.about .about-wrapper {
  background-image: url('./components/layout/8bitcity.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.about .about-wrapper .about-left {
  background-color: rgba(0, 0, 0, 0.8);
}
.about .about-wrapper .about-right {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
}
.about .about-wrapper .about-right h1 {
  color: #fff;
  font-size: 84px;
  font-weight: 400;
  letter-spacing: 7px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.5);
}

.about .about-wrapper .about-right .intro {
  color: rgb(190, 190, 190);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.about .about-wrapper .about-right .intro a {
  border-bottom: 3px solid rgb(0, 0, 0);
  transition: ease-in-out 0.7s;
}
.about .about-wrapper .about-right .intro a:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
}

.about .about-wrapper .about-right .skills {
  margin-top: 25px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.5);
}
.about .about-wrapper .about-right .skills span {
  font-size: 45px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.5);
}
.about .about-wrapper .about-right .skills span button {
  color: rgb(255, 255, 255);
  background-color: #191919;
  outline: none;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.7s;
  font-size: 45px;
  border-bottom: 3px solid rgb(0, 0, 0);
}
.about .about-wrapper .about-right .skills span button:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
}
.about .about-wrapper .about-right .skills span button.active {
  border-bottom: 3px solid rgb(255, 255, 255);
}
.about .about-wrapper .about-right .skills ul {
  display: flex;
  color: #fff;
  flex-direction: column;
  margin-top: 15px;
  list-style: none;
  font-size: 18px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}
.about .about-wrapper .about-right .skills ul li {
  margin-bottom: 10px;
  color: rgb(190, 190, 190);
  font-size: 20px;
}
.about .about-wrapper .about-right .skills ul li span {
  font-size: 20px;
  font-weight: 500;
  border: none;
}

/* About Ends */

/* Portfolio starts */

/* Portfolio ends */

/* Contact starts */

.contact {
  background-image: url('./components/layout/8bitbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact .contact-wrapper {
  width: 50%;
  height: 65vh;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 2%;
}
.contact .contact-wrapper .title {
  text-align: center;
}
.contact .contact-wrapper .title span {
  color: rgb(255, 255, 255);
  font-size: 54px;
}
.contact .contact-wrapper .contact-form {
  margin-top: 10px;
  height: 80%;
  margin: auto 0;
}
.contact .contact-wrapper .contact-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 7%;
}

.contact .contact-wrapper .contact-form form input {
  font-size: 20px;
  padding-left: 10px;
  width: 100%;
  margin: 20px 0;
  height: 50px;
}
.contact .contact-wrapper .contact-form form textarea {
  padding-left: 10px;
  padding-top: 5px;
  font-size: 18px;
  width: 100%;
  height: 75px;
  margin: 20px 0;
  resize: none;
}
.contact .contact-wrapper .contact-form form button {
  border: 1px solid black;
  font-size: 20px;
  width: 20%;
  height: 10%;
  display: flex;
  align-items: center;
  position: relative;
  left: -40%;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  float: left;
  transition: ease-in-out 0.7s;
}
.contact .contact-wrapper .contact-form form button:hover {
  background-color: rgb(34, 34, 34);
  border: 1px solid white;
  color: rgb(255, 255, 255);
}
/* Contact ends */

/* MEDIA QUERIES */

/* For 640 Resolution */
@media only screen and (min-device-width: 360px) and (max-device-width: 740px) {
  .navbar {
    margin-top: 0;
    position: absolute;
    left: -100%;
    transition: ease-in-out 0.7s;
  }
  .navbar .links {
    height: 100vh;
    width: 40%;
  }
  .navbar .links ul {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.95);
    left: 0%;
    height: 100vh;
  }
  .navbar .links i {
    display: inline;
    margin: 0 auto;
    margin-top: 30px;
    color: #fff;
    font-size: 44px;
    z-index: 99;
  }
  .navbar .links ul li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 35%;
    margin-top: 25px;
    margin-left: 50px;
  }
  .navbar.active {
    left: 0;
  }
}
@media (min-device-width: 741px) {
  #btnMenu {
    display: none;
  }
}
