@font-face {
  font-family: 'vt323';
  src: url('./VT323-Regular.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'vt323', monospace;
}
.main {
  width: 100%;
}
/*  Navbar starts */
nav {
  position: fixed;
  -webkit-backface-visibility: hidden;
  margin: 0;
  top: 0px;
  left: 0px;
  z-index: 199;
  width: 100%;
  height: auto;
}
nav .navbar-wrapper {
  display: flex;
  width: 90%;
  height: 90px;
  margin: 0 auto;
  justify-content: space-around;
}
nav .navbar-wrapper .left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .navbar-wrapper .left img {
  width: 15%;
  height: auto;
}
nav .navbar-wrapper .left #name {
  font-size: 34px;
  color: #fff;
}
nav .navbar-wrapper .right i {
  display: none;
  color: #fff;
}
nav .navbar-wrapper .right {
  width: 55%;
  height: 90px;
}
nav .navbar-wrapper .right ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  list-style: none;
  width: 100%;
  transition: ease-in-out 0.5s;
}
nav .navbar-wrapper .right ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

/*  Navbar Ends */

/* Index starts */
.welcomer {
  background-image: url('./components/layout/matrixbg.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  width: 100%;
}
.welcomer .welcomer-wrapper {
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 35%;
  text-align: left;
  border-right: 1px solid rgba(207, 207, 207, 0.5);
}
.welcomer .welcomer-wrapper .top p {
  color: #fff;
  font-size: 64px;
  margin-bottom: 10px;
}
.welcomer .welcomer-wrapper .top span {
  color: #fff;
  font-size: 84px;
  letter-spacing: 5px;
}
.welcomer .welcomer-wrapper .mid span {
  color: #fff;
  font-size: 84px;
}
.welcomer .welcomer-wrapper .bottom button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 54px;
  border-radius: 5px;
  outline: none;
  transition: ease-in-out 0.5s;
  border: 1px solid white;
  cursor: pointer;
}
.welcomer .welcomer-wrapper .bottom button:hover {
  background-color: #191919;
  color: #fff;
}
/* Index ends */

/* Inter divler */
.inter1 {
  height: 20vh;
  width: 100%;
  background-color: #191919;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.inter1 .inter1-wrapper {
  text-align: center;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.inter1 .inter1-wrapper span {
  color: #fff;
  font-size: 50px;
}
.inter1 .inter1-wrapper a {
  color: rgb(190, 190, 190);
  transition: ease-in-out 0.5s;
  font-size: 50px;
}
.inter1 .inter1-wrapper a:hover {
  color: #fff;
}
.inter2 {
  height: 40vh;
  width: 100%;
  background-color: #191919;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.inter2 .inter2-wrapper {
  text-align: center;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid white;
}
.inter2 .inter2-wrapper .top {
  width: 100%;
}
.inter2 .inter2-wrapper .top span {
  color: #fff;
  font-size: 84px;
}
.inter2 .inter2-wrapper .bottom {
  width: 70%;
}
.inter2 .inter2-wrapper .bottom ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 64px;
}
.inter2 .inter2-wrapper .bottom ul li a {
  color: rgba(237, 237, 237, 0.5);
  border-bottom: 0px solid rgba(237, 237, 237, 0.5);
  transition: ease-in-out 0.5s;
}
.inter2 .inter2-wrapper .bottom ul li a:hover {
  color: #fff;
}

.inter3 {
  width: 100%;
  height: 25vh;
  background-color: #919191;
  background-image: url('./components/layout/8bitindex2.png');
  background-position: center;
  background-attachment: fixed;
}
.inter3 .inter3-wrapper {
  height: 25vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.inter3 .inter3-wrapper .left {
  text-align: center;
  margin-bottom: 10px;
}
.inter3 .inter3-wrapper .left span {
  color: #fff;
  font-size: 44px;
  letter-spacing: 3px;
}
.inter3 .inter3-wrapper .right {
  color: #fff;
}
.inter3 .inter3-wrapper .right a {
  font-size: 34px;
  color: #fff;
}
.inter3 .inter3-wrapper .right span {
  font-size: 34px;
}
.inter3 .inter3-wrapper .right a i {
  font-style: italic;
  text-decoration: underline;
}
/* Inter divler */

/* Home starts */

/* Home ends */

/* About Starts */
.about {
  background-image: url('./components/layout/8bitcity.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  padding: 5px;
  height: 80vh;
  position: relative;
}
.about .about-wrapper {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.about .about-wrapper .top {
  text-align: center;
  font-size: 54px;
  width: 20%;
  margin: 0 auto;
  letter-spacing: 8px;
}
.about .about-wrapper .bottom {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about .about-wrapper .bottom .left img {
  border-radius: 10%;
}
.about .about-wrapper .bottom .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Poppins', sans-serif;
}
.about .about-wrapper .bottom .right span {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 30px;
}

.about .about-wrapper .bottom .right #span1 {
  margin-bottom: 40px;
  font-weight: 400;
}
/* About Ends */

/* Portfolio starts */
.portfolio {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.portfolio .portfolio-wrapper {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.portfolio #title {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  font-size: 64px;
  margin-top: 100px;
  border-bottom: 1px solid black;
}
.portfolio .portfolio-wrapper .repos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding-top: 70px;
}
.portfolio .portfolio-wrapper .repos .card {
  background-color: #e3e3e3;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.2s;
}
.portfolio .portfolio-wrapper .repos .card:hover {
  box-shadow: 1px 3px 1px 2px rgba(0, 0, 0, 0.5);
  transform: translateY(-1%);
}
.portfolio .portfolio-wrapper .repos .card .card-title {
  font-size: 34px;
  color: #191919;
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
}
.portfolio .portfolio-wrapper .repos .card .card-img {
  width: 100%;
}
.portfolio .portfolio-wrapper .repos .card .card-img img {
  width: 100%;
  height: 20vh;
  margin: 0 auto;
}
.portfolio .portfolio-wrapper .repos .card .card-desc {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 10px 0;
  color: #191919;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 25px;
  height: 120px;
}
.portfolio .portfolio-wrapper .repos .card .card-desc p {
  font-family: 'Poppins', sans-serif;
}
.portfolio .portfolio-wrapper .repos .card .card-links {
  width: 100%;
  margin: 10px 0;
  height: 5vh;
  margin-top: 20px;
}
.portfolio .portfolio-wrapper .repos .card .card-links a {
  font-family: 'Poppins', sans-serif;
  outline: none;
  font-style: italic;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  border: none;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 5px;
  color: #fff;
  background-color: #2b2b2b;
  transition: ease-in-out 0.5s;
}
.portfolio .portfolio-wrapper .repos .card .card-links a:hover {
  background-color: #191919;
}
/* Portfolio ends */

/* Contact starts */

.contact {
  background-image: url('./components/layout/8bitbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact .contact-wrapper {
  width: 50%;
  height: 65vh;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 2%;
}
.contact .contact-wrapper .title {
  text-align: center;
}
.contact .contact-wrapper .title span {
  color: rgb(255, 255, 255);
  font-size: 54px;
}
.contact .contact-wrapper .contact-form {
  margin-top: 10px;
  height: 80%;
  margin: auto 0;
}
.contact .contact-wrapper .contact-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 7%;
}

.contact .contact-wrapper .contact-form form input {
  font-size: 20px;
  padding-left: 10px;
  width: 100%;
  margin: 20px 0;
  height: 50px;
}
.contact .contact-wrapper .contact-form form textarea {
  padding-left: 10px;
  padding-top: 5px;
  font-size: 18px;
  width: 100%;
  height: 75px;
  margin: 20px 0;
  resize: none;
}
.contact .contact-wrapper .contact-form form button {
  border: 1px solid black;
  font-size: 20px;
  width: 20%;
  height: 10%;
  display: flex;
  align-items: center;
  position: relative;
  left: -40%;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  float: left;
  transition: ease-in-out 0.7s;
}
.contact .contact-wrapper .contact-form form button:hover {
  background-color: rgb(34, 34, 34);
  border: 1px solid white;
  color: rgb(255, 255, 255);
}
/* Contact ends */

/* Footer */
.footer {
  width: 100%;
  height: 10vh;
  position: relative;
  bottom: 0px;
  background-color: #191919;
  border-top: 1px solid #bebebe;
}
.footer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-style: italic;
}

/* Footer */

/* MEDIA QUERIES */

/* mobile starts */
/* For 640 Resolution */
@media (min-width: 320px) and (max-width: 767px) {
  nav {
    position: fixed;
    top: 0px;
  }
  nav .navbar-wrapper .right i {
    display: block;
  }
  nav .navbar-wrapper .right ul {
    position: absolute;
    top: 90px;
    left: -100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.95);
  }
  nav .navbar-wrapper .right ul.active {
    left: 0%;
  }

  nav .navbar-wrapper .right i {
    text-align: right;
    font-size: 42px;
    margin-top: 25px;
  }
  nav .navbar-wrapper .right ul li a {
    font-size: 36px;
  }
  .welcomer .welcomer-wrapper {
    width: 90%;
    top: 25%;
    height: 60vh;
  }
  .welcomer .welcomer-wrapper .top p {
    font-size: 44px;
    margin-bottom: 50px;
    position: relative;
  }
  .welcomer .welcomer-wrapper .top span {
    font-size: 44px;
  }
  .welcomer .welcomer-wrapper .mid span {
    font-size: 30px;
    line-height: 100px;
  }
  .welcomer .welcomer-wrapper .bottom button {
    font-size: 34px;
  }
  .inter1 .inter1-wrapper span {
    font-size: 28px;
  }
  .inter1 .inter1-wrapper a {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .about {
    height: 110vh;
  }
  .about .about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about .about-wrapper .top {
    width: 80%;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .about .about-wrapper .top span {
    text-align: center;
    font-size: 34px;
  }
  .about .about-wrapper .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about .about-wrapper .bottom .left {
    display: flex;
    justify-content: center;
  }
  .about .about-wrapper .bottom .left img {
    width: 55%;
  }
  .about .about-wrapper .bottom .right {
    margin-top: 20px;
    width: 100%;
  }
  .about .about-wrapper .bottom .right span {
    line-height: 25px;
  }
}

/* tablet starts */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}
/* tablet ends */

/* laptop starts */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
}
/* laptop ends */

/* desktop starts */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .welcomer .welcomer-wrapper {
    height: 80vh;
  }
  .welcomer .welcomer-wrapper .mid span {
    font-size: 34px;
  }
}
/* desktop ends */

@media only screen and (min-width: 1441px) {
}
