@font-face {
  font-family: 'vt323';
  src: url('./VT323-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'vt323', monospace;
}

/*  Navbar starts */

.navbar {
  width: 100%;
  position: fixed;
  margin-top: 20px;
  background-color: transparent;
  height: 60px;
  z-index: 4;
}
.navbar .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: 0px;
}
.navbar .links i {
  display: none;
}
.navbar .links ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 60px;
}
.navbar .links ul li {
  margin-right: 150px;
  padding: 0 5px;
}
.navbar .links ul li a {
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 20px;
  letter-spacing: 3px;
  font-size: 20px;
  color: white;
  transition: ease-in-out 0.5s;
  border: 1px solid rgba(207, 207, 207, 0);
}
.navbar .links ul li a:hover {
  border: 1px solid rgb(207, 207, 207);
}
.navbar .links ul li a.active {
  border: 1px solid rgb(207, 207, 207);
}
#btnMenu {
  position: absolute;
  cursor: pointer;
  transition: ease-in-out 0.7s;
}
#btnMenu i {
  position: absolute;
  padding: 30px 40px;
  cursor: pointer;
  color: #fff;
}

/*  Navbar Ends */

/* Index starts */

.welcomer {
  background-color: #191919;
  width: 100%;
  height: 100vh;
  background-image: url('../src/components/layout/8bitbg2.png');
  background-position: bottom;
}
.welcomer .welcomer-wrapper {
  height: 75vh;
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  margin: auto 0;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

.welcomer .welcomer-wrapper .top {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid white;
}
.welcomer .welcomer-wrapper .top img {
  border-radius: 50%;
  width: 35%;
}
.welcomer .welcomer-wrapper .top span {
  color: white;
  font-size: 64px;
  letter-spacing: 5px;
}
.welcomer .welcomer-wrapper .top span::before {
  content: '';
  border-bottom: 1px solid white;
}
.welcomer .welcomer-wrapper .mid {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid white;
}
.welcomer .welcomer-wrapper .mid span {
  font-size: 54px;
  color: #fff;
}
.welcomer .welcomer-wrapper .mid ul {
  list-style: none;
  width: 100%;
  margin-top: 20px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}
.welcomer .welcomer-wrapper .bottom {
  width: 70%;
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcomer .welcomer-wrapper .bottom ul {
  color: #fff;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 45px;
}
.welcomer .welcomer-wrapper .bottom ul li a {
  color: rgb(129, 129, 129);
  text-decoration: none;
  transition: ease-in-out 0.5s;
}
.welcomer .welcomer-wrapper .bottom ul li a:hover {
  color: #fff;
}
.welcomer .welcomer-wrapper .bottom #contact {
  border: 1px solid rgb(129, 129, 129);
  margin-top: 15px;
  width: 30%;
  height: 30%;
  padding: 8px 5px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-size: 34px;
  text-decoration: none;
  color: #000;
  transition: ease-in-out 0.5s;
}
.welcomer .welcomer-wrapper .bottom #contact:hover {
  width: 33%;
  background-color: #fff;
}
/* Index ends */

/* Home starts */

/* Home ends */

/* About Starts */
.about {
  background-color: #191919;
  background-image: url('./components/layout/8bitcity.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.about .about-wrapper {
  background-image: url('./components/layout/8bitcity.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.about .about-wrapper .about-left {
  background-color: rgba(0, 0, 0, 0.8);
}
.about .about-wrapper .about-right {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
}
.about .about-wrapper .about-right h1 {
  color: #fff;
  font-size: 84px;
  font-weight: 400;
  letter-spacing: 7px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.5);
}

.about .about-wrapper .about-right .intro {
  color: rgb(190, 190, 190);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.about .about-wrapper .about-right .intro a {
  border-bottom: 3px solid rgb(0, 0, 0);
  transition: ease-in-out 0.7s;
}
.about .about-wrapper .about-right .intro a:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
}

.about .about-wrapper .about-right .skills {
  margin-top: 25px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.5);
}
.about .about-wrapper .about-right .skills span {
  font-size: 45px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.5);
}
.about .about-wrapper .about-right .skills span button {
  color: rgb(255, 255, 255);
  background-color: #191919;
  outline: none;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.7s;
  font-size: 45px;
  border-bottom: 3px solid rgb(0, 0, 0);
}
.about .about-wrapper .about-right .skills span button:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
}
.about .about-wrapper .about-right .skills span button.active {
  border-bottom: 3px solid rgb(255, 255, 255);
}
.about .about-wrapper .about-right .skills ul {
  display: flex;
  color: #fff;
  flex-direction: column;
  margin-top: 15px;
  list-style: none;
  font-size: 18px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}
.about .about-wrapper .about-right .skills ul li {
  margin-bottom: 10px;
  color: rgb(190, 190, 190);
  font-size: 20px;
}
.about .about-wrapper .about-right .skills ul li span {
  font-size: 20px;
  font-weight: 500;
  border: none;
}

/* About Ends */

/* Portfolio starts */

/* Portfolio ends */

/* Contact starts */

.contact {
  background-image: url('./components/layout/8bitbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact .contact-wrapper {
  width: 50%;
  height: 65vh;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 2%;
}
.contact .contact-wrapper .title {
  text-align: center;
}
.contact .contact-wrapper .title span {
  color: rgb(255, 255, 255);
  font-size: 54px;
}
.contact .contact-wrapper .contact-form {
  margin-top: 10px;
  height: 80%;
  margin: auto 0;
}
.contact .contact-wrapper .contact-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 7%;
}

.contact .contact-wrapper .contact-form form input {
  font-size: 20px;
  padding-left: 10px;
  width: 100%;
  margin: 20px 0;
  height: 50px;
}
.contact .contact-wrapper .contact-form form textarea {
  padding-left: 10px;
  padding-top: 5px;
  font-size: 18px;
  width: 100%;
  height: 75px;
  margin: 20px 0;
  resize: none;
}
.contact .contact-wrapper .contact-form form button {
  border: 1px solid black;
  font-size: 20px;
  width: 20%;
  height: 10%;
  display: flex;
  align-items: center;
  position: relative;
  left: -40%;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  float: left;
  transition: ease-in-out 0.7s;
}
.contact .contact-wrapper .contact-form form button:hover {
  background-color: rgb(34, 34, 34);
  border: 1px solid white;
  color: rgb(255, 255, 255);
}
/* Contact ends */

/* MEDIA QUERIES */

/* For 640 Resolution */
@media only screen and (min-device-width: 360px) and (max-device-width: 680px) {
  /* NAVBAR STARTS */

  .navbar {
    margin-top: 0;
    position: absolute;
    left: -100%;
    transition: ease-in-out 0.7s;
    z-index: 99;
  }
  .navbar .links {
    height: 100vh;
    width: 40%;
  }
  .navbar .links ul {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.95);
    left: 0%;
    height: 100vh;
  }
  .navbar .links i {
    display: inline;
    margin: 0 auto;
    margin-top: 30px;
    color: #fff;
    font-size: 44px;
    z-index: 99;
  }
  .navbar .links ul li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 35%;
    margin-top: 25px;
    margin-left: 50px;
  }
  .navbar.active {
    left: 0;
  }
  #btnMenu {
    z-index: 99;
  }
  #btnMenu i {
    font-size: 34px;
  }

  /* NAVBAR ENDS */

  /* INDEX STARTS */
  .welcomer {
    background-size: cover;
    background-position: bottom;
  }
  .welcomer .welcomer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
  }
  .welcomer .welcomer-wrapper .top {
    padding-top: 10px;
    height: 35vh;
    width: 95%;
    margin-top: 25px;
  }
  .welcomer .welcomer-wrapper .top span {
    margin-top: 24px;
    font-size: 30px;
  }

  .welcomer .welcomer-wrapper .mid span {
    font-size: 25px;
    margin: 25px 0;
  }
  .welcomer .welcomer-wrapper .mid ul {
    font-size: 20px;
  }
  .welcomer .welcomer-wrapper .bottom {
    height: 30vh;
  }
  .welcomer .welcomer-wrapper .bottom #contact {
    font-size: 34px;
    width: 60%;
    margin: auto 0;
    padding-top: 10px;
  }
  /* INDEX ENDS */
}
@media (min-device-width: 741px) {
  #btnMenu {
    display: none;
  }
}
